.card {
  transition: box-shadow 0.2s, transform 0.2s;
  border-radius: 1rem !important;
}
.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.25) !important;
  transform: scale(1.03);
  z-index: 2;
}
.clickable-card:hover {
  box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.35) !important;
  transform: scale(1.04);
  z-index: 3;
  filter: brightness(1.05);
}
